DB_HOST=jdbc:mysql://localhost:3306/cpa?useUnicode=yes&characterEncoding=UTF-8
DB_PASS=SENHA DO BANCO
JWT_KEY=TOKEN
CORS_FRONT_DEV=http://localhost:3000
ADMIN_ACCOUNT=admin@gmail.com
ADMIN_PASSWORD=123456
USER_ACCOUNT=user@gmail.com
USER_PASSWORD=123456
EMAIL_SENDER=EMAIL QUE MANDEI NO WPP
PASSWORD_EMAIL=SENHA QUE MANDEI NO WPP
PROFILE=dev